version: "3.8"

services:

  mongodb:
    image: mongo:latest
    container_name: dd-mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    image: maurya250/discover-dollar-backend:latest
    container_name: dd-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - MONGO_URI=mongodb://mongodb:27017/ddapp
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    image: maurya250/discover-dollar-frontend:latest
    container_name: dd-frontend
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: dd-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network: